<section class="all">
  <!-- BLACK HEADER -->
  <header class="black-nav">
      <div class="left-group"><i class="material-icons md-18">place</i><a href="/">&nbspDealers</a></div>
      <div class="right-group" ng-click="showModal=!showModal"><a href="#">Wishlist</a></div>

  </header>
  <!-- WHITE HEADER -->
  <header class="white-nav">
    <div class="icon"><i class="material-icons md-48">menu</i></div>
    <div class="mobile-logo"></div>
    <div class="icon"><i class="material-icons md-48">search</i></div>
  </header>

  <!-- MODAL -->
  <div class="modal-bg" ng-show="showModal">
    <!-- <span class="close" ng-click="showModal = !showModal">&times;</span> -->
    <!-- <div class="x-box" ng-click="showModal=!showModal">
      <span class="right"></span>
      <span class="left"></span>
    </div> -->

    <!-- MODAL CONTENTS -->
    <div>
    <div class="close-container">
      <div class="x-box" ng-click="showModal=!showModal">
        <span class="right"></span>
        <span class="left"></span>
      </div>
    </div>
    <div class="modal-content">



      <div class="modal-header">
        <h2>Please login or create an account</h2>
      </div>
      <div class="modal-body">
        Your Osprey wish list is a great place to keep track of all the things you really want.
        Share with family and friends so they'll know just what to get you for that
        special occasion.
      </div>
      <div class="modal-footer">
        <button class="button cancel">Cancel</button>
        <button class="button login">Login</button>
      </div>
  </div>
</div>



</section>

<!-- <i class="material-icons">place</i>  -->
