<!-- <header class="header">
  <section class="black-nav">
    <div class="black-nav-container">
      <div class="logo-container">
        <div class="logo"></div>
      </div>
      <div class="menu">
        <div class="flag-container"></div>
        <div class="caret-container"></div>
        <ul>
          <li><a href="/">Find a Dealer</a></li>
          <li><a href="/">Wishlist</a></li>
          <li><a href="/">Login</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="white-nav">
    <div class="white-nav-text">
        <ul>
          <li><a href="/">Packs & Bags</a></li>
          <li><a href="/">Packfinder</a></li>
          <li><a href="/">Fitting & Learning</a></li>
          <li><a href="/">Behind The Packs</a></li>
          <li><a href="/">Stories</a></li>
        </ul>
    </div>
      <div class="search">
          <input type="text" name="search" maxlength="24" placeholder="Search Osprey...">
          <a href="/" type="button"><img class="search-button" src="https://d30y9cdsu7xlg0.cloudfront.net/png/27269-200.png"></a>
      </div>
  </section>
</header> -->
<!--========= Above is Original Working Code (no mega drop)==========-->

<header class="header">
  <section class="black-nav">
    <div class="black-nav-container">
      <div class="logo-container">
        <div class="logo"></div>
      </div>
      <div class="menu">
        <div class="flag-container"></div>
        <div class="caret-container"></div>
        <ul>
          <li><a href="/">Find a Dealer</a></li>
          <li><a href="/">Wishlist</a></li>
          <li><a href="/">Login</a></li>
        </ul>
      </div>
    </div>
  </section>
</header>
