<header class="header">
  <section class="black-nav">
    <div class="black-nav-container">
      <div class="logo-container">
        <div class="logo"></div>
      </div>
      <div class="menu">
        <div class="flag-container"></div>
        <div class="caret-container"></div>
        <ul>
          <li><a href="/">Find a Dealer</a></li>
          <li><a href="/">Wishlist</a></li>
          <li><a href="/">Login</a></li>
        </ul>
      </div>
    </div>
  </section>
<!--  <section class="white-nav">
    <div class="white-nav-text">
        <ul>
          <li><a href="/">Packs & Bags</a></li>
          <li><a href="/">Packfinder</a></li>
          <li><a href="/">Fitting & Learning</a></li>
          <li><a href="/">Behind The Packs</a></li>
          <li><a href="/">Stories</a></li>
        </ul>
    </div>
      <div class="search">
          <input type="text" name="search" maxlength="24" placeholder="Search Osprey...">
          <a href="/" type="button"><img class="search-button" src="https://d30y9cdsu7xlg0.cloudfront.net/png/27269-200.png"></a>
      </div>
  </section>
</header> -->
<!--========= Above is Original Working Code (no mega drop)==========-->

  <ul class="nav">
  	<li>
  		<a href="#">Packs & Bags</a>
  		<div class="container-4">
  			<div class="col1">
  				<h3>Technical Packs</h3>
  				<ul>
  					<li><a href="#">Backpacking</a></li>
  					<li><a href="#">Hiking</a></li>
  					<li><a href="#">Climbing & Mountaineering</a></li>
  					<li><a href="#">Skiing & Snowboarding</a></li>
  					<li><a href="#">Shop by Series</a></li>
  				</ul>
  			</div>
  			<div class="col1">
  				<h3>Kids Packs & Carriers</h3>
  				<ul>
  					<li><a href="#">Apples</a></li>
  					<li><a href="#">Blueberries</a></li>
  					<li><a href="#">Cranberries</a></li>
  					<li><a href="#">Raspberries</a></li>
  					<li><a href="#">Strawberries</a></li>
  				</ul>
  			</div>
  			<div class="col1">
  				<h3>Travel</h3>
          <ul>
  					<li><a href="#">Apples</a></li>
  					<li><a href="#">Blueberries</a></li>
  					<li><a href="#">Cranberries</a></li>
  					<li><a href="#">Raspberries</a></li>
  					<li><a href="#">Strawberries</a></li>
  				</ul>  			</div>
  			<div class="col1">
  				<h3>Featured</h3>
          <ul>
  					<li><a href="#">Apples</a></li>
  					<li><a href="#">Blueberries</a></li>
  					<li><a href="#">Cranberries</a></li>
  					<li><a href="#">Raspberries</a></li>
  					<li><a href="#">Strawberries</a></li>
  				</ul>
        </div>
  	</li>
  	<li><a href="#">Pack Finder</a></li>
  	<li><a href="#">Fitting & Learning</a></li>
  	<li>
  		<a href="#">Behind the Packs</a>
  		<div class="container-1 right">
  			<ul>
  				<li><a href="#">Who We Are</a></li>
  				<li><a href="#">Why We Care</a></li>
  				<li><a href="#">Some other page</a></li>
  				<li><a href="#">How We Work</a></li>
  			</ul>
  		</div>
  	</li>
  	<li><a href="#">Stories</a></li>
  </ul>
</header>
