<section class="all">
  <!-- BLACK HEADER -->
  <header class="black-nav">
      <div class="left-group"><i class="material-icons md-18">place</i><a href="/">&nbspDealers</a></div>
      <div class="right-group"><a href="/">Wishlist<a></div>
  </header>
  <!-- WHITE HEADER -->
  <header class="white-nav">
    <div class="icon"><i class="material-icons md-48">menu</i></div>
    <div class="mobile-logo"></div>
    <div class="icon"><i class="material-icons md-48">search</i></div>
  </header>

</section>

<!-- <i class="material-icons">place</i>  -->
