<div class="footer ">
  <div class="mobile-full-width">
    <button class="accordion">Customer Support</button>
    <div class="panel">
      <ul>
        <li>Customer Service Center</li>
        <li>International Customer Service</li>
        <li>FAQs</li>
        <li>Pack Repair</li>
        <li>Parts Request</li>
        <li>Hydraulics Warranty</li>
        <li>Retail Claims</li>
        <li>Owners Manuals</li>
        <li>Poco Registration</li>
        <li>Poco Seat Pad Update</li>
        <li>Pack Tech & Repair Videos</li>
        <li>Sticker Requests</li>
        <li>Dealer Inquiries</li>
        <li>Pro Sales</li>
      </ul>
    </div>

  </div>
  <div class="mobile-full-width">
    <button class="accordion">Company</button>
    <div class="panel">
      <ul>
        <li>About Us</li>
        <li>History of Osprey Packs</li>
        <li>Sustainability</li>
        <li>Careers</li>
      </ul>
    </div>
    
  </div>
  <div class="mobile-full-width">
    <h3>Stay Connected</h3>
    <!-- Social Media links -->
    <a href="#" class="brandico-instagram"></a>
    <a href="#" class="brandico-facebook"></a>
    <a href="#" class="fontawesome-google-plus"></a>
    <a href="#" class="zocial-youtube"></a>
    <a href="#" class="brandico-twitter-bird"></a>
    <a href="#" class="fontawesome-pinterest"></a>
  </div>
  <div class="mobile-full-width">
    <h3>866.284.7830</h3>
  </div>

  <div class="guarantee-icon mobile-full-width">

  </div>
  <div class="mobile-full-width">
    <form class="" action="index.html" method="post">
      <h3>Email Signup</h3>
      <h6>Stay up to date on our latest news and promotions and receive exclusive deals.</h6>
      <input type="text" name="" value="" placeholder="Enter your email">
      <input type="button" name="" value="">
    </form>
  </div>
  <div class="mobile-full-width">
    <h2>Find a Dealer</h2>
  </div>
  <div class="footer-pic mobile-full-width">
    <p>All images & Content 2004-2017 Osprey Packs, Inc.</p>
  </div>
</div>
