<div class="">
  <h1>Built for the vertical world</h1>
  <button type="button" name="button">Check out the mutant</button>
</div>

<!-- carosel -->
<div class="">
  <div class="">
    <h4>Ski and Snowboard Packs</h4>
    <h6>Combining safety with stylish utility and fit.</h6>
    <button type="button" name="button">Shop all</button>
  </div>

  <div class="">
    <h4>Travel Packs</h4>
    <h6>Light-weight, fully featured and plenty of organization.</h6>
    <button type="button" name="button">Shop all</button>
  </div>

  <div class="">
    <h4>Travel daypacks</h4>
    <h6>Packs small, thinks big</h6>
    <button type="button" name="button">Shop all</button>
  </div>

  <div class="">
    <h4>Thru-hiking work horses</h4>
    <h6>Carrying your home never felt so comfortable.</h6>
    <button type="button" name="button">Shop all</button>
  </div>

  <div class="">
    <h4>Hydration hiking Packs</h4>
    <h6>Comfortable, ventilated and ready to keep you hydrated</h6>
    <button type="button" name="button">Shop all</button>
  </div>

  <div class="">
    <h4>Cycling and hydration</h4>
    <h6>Highly technical packs, reservoir included</h6>
    <button type="button" name="button">Shop all</button>
  </div>

</div>

<div class="">
  <h1>Get lost</h1>
  <button type="button" name="button">with the farpoint series</button>
</div>

<div class="">
  <div class="image-section"></div>
  <div class="">
    <h3>The Atmos/Aura AG raises the bar for big-load ventilation!</h3>
    <p>-Backpacker Magazine</p>
    <button type="button" name="button">Shop the Atmos and Aura AG</button>
  </div>
</div>

<div class="">
  <h1>Try our new packfinder</h1>
  <p>It's easy to feel lost when searching for the right pack.<br>
  Let us help out.</p>
  <button type="button" name="button">Click here</button>
</div>

<div class="">
  <div class="">
    <h3>Dear Osprey...</h3>
    <p>With age comes wisdom, and behind all wisdom <br>
    there's a whole lot of great stories</p>
    <button type="button" name="button">Join the community today</button>
  </div>
  <div class="image-section"></div>
</div>

<div class="">
  <h1>Climb On</h1>
  <button type="button" name="button">Explore the variant series</button>
</div>

<!-- carosel #2 -->
<div class="">
  <p>Trending Gear</p>
  <div class="">
    <a href="#">Backpack img</a>
    <div class="gray-bar"></div>
    <div class="info-icon"></div>
    <div class="color-swatch"></div>
    <h3>Farpoint 55</h3>
    <p>Travel | Trekking</p>
    <h4>$180.00</h4>
    <div class="star-rating"></div>
  </div>

  <div class="">
    <a href="#">Backpack img</a>
    <div class="gray-bar"></div>
    <div class="info-icon"></div>
    <div class="color-swatch"></div>
    <h3>Atmos AG 65</h3>
    <p>Backpacking | Thru-hiking</p>
    <h4>$260.00</h4>
    <div class="star-rating"></div>
  </div>

  <div class="">
    <a href="#">Backpack img</a>
    <div class="gray-bar"></div>
    <div class="info-icon"></div>
    <div class="color-swatch"></div>
    <h3>Porter 46</h3>
    <p>Trekking | Gear Hauling</p>
    <h4>$130.00</h4>
    <div class="star-rating"></div>
  </div>

  <div class="">
    <a href="#">Backpack img</a>
    <div class="gray-bar"></div>
    <div class="info-icon"></div>
    <div class="color-swatch"></div>
    <h3>Farpoint 40</h3>
    <p>Travel | Trekking</p>
    <h4>$160.00</h4>
    <div class="star-rating"></div>
  </div>

  <div class="">
    <a href="#">Backpack img</a>
    <div class="gray-bar"></div>
    <div class="info-icon"></div>
    <div class="color-swatch"></div>
    <h3>Kamber 32</h3>
    <p>Backcountry Riding</p>
    <h4>$170.00</h4>
    <div class="star-rating"></div>
  </div>

  <div class="">
    <a href="#">Backpack img</a>
    <div class="gray-bar"></div>
    <div class="info-icon"></div>
    <div class="color-swatch"></div>
    <h3>Daylite</h3>
    <p>Everyday Use</p>
    <h4>$50.00</h4>
    <div class="star-rating"></div>
  </div>
</div>

<div class="">
  <h1>For big climbs and bigger descents</h1>
  <button type="button" name="button">Check out the kamber/kresta pack series</button>
</div>

<div class="">
  <p>OSPREY IS A PASSIONATE TRIBE OF WANDERLUST AFFLICTED ADVENTURERS BUILDING THE BEST PACKS IN THE WORLD FOR YOUR GREATEST TRIPS</p>
  <button type="button" name="button">More about Osprey</button>
</div>

<div class="">
  <h1>Stay thirsty</h1>
  <button type="button" name="button">Learn more about the Kamber ABS compatible packs</button>
</div>

<div class="instagram-carousel">
  <h1>@ospreypacks</h1>
  <div class="">
    <!-- insta pics -->
  </div>
</div>
