body {
    -webkit-font-smoothing: antialiased;

  .banner {
    position: relative;
  }
  //==============================================================================//
  //                          Black Nav Bar                                       //
  //==============================================================================//
  .black-nav {
    z-index: 9;
    @include dimensions(100vw, 40px)
    @include flex(center, center);
    background-color: #000;
    position: absolute;
    top: 0px;
  }

  .logo {
    @include dimensions(186px, 144px);
    @include image('http://www.ospreypacks.com/images/logos/osprey-white-oval-logo-withglow-DOUBLE-RES.png');
    z-index: 10;
    position: relative;
    right: 387px;
    top: 50px;
  }

  .flag {
    @include dimensions(30px, 15px);
    @include image('http://icons.iconarchive.com/icons/icons-land/vista-flags/256/United-States-Flag-1-icon.png');
    position: relative;
    left: 333px;
  }

  .caret {
    @include dimensions(18px, 22px);
    position: relative;
    left: 35px;
    bottom: 3px;
    -webkit-filter: invert(1);
    filter: invert(1);
  }

  .links-box {
    @include flex(space-between, center);
    flex-direction: row;
    background: #000;
    position: relative;
    left: 368px;
    font-family: $hn;
    font-size: 14px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .black-ul-float {
    float: right;
  }

  .black-li-float {
    float: left;
  }

  li a {
    display: block;
    padding: 8px 21px 8px 0px;
    color: #fff;
    text-decoration: none;
  }

  li a:hover {
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #0095cf;
  }
  //==============================================================================//
  //                          White Nav Bar                                       //
  //==============================================================================//
  .white-nav {
    z-index: 8;
    @include dimensions(100vw, 100px)
    @include flex(center, center);
    background-color: rgba(255,255,255,.85);
    position: absolute;
    top: 40px;
    font-family: $hnb;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
  }

  .group {
    @include flex(center, center);
    display: inline-flex;
  }

  .white-ul-float {
    display: inline-flex;
    position: relative;
    left: 112px;
  }

  .black-link {
    color: #000;
  }

  .search {
    @include dimensions(250px, 45px);
    margin-left: 33px;
    position: relative;
    left: 105px;
  }

  input[type=text] {
    @include dimensions(250px, 45px);
    box-sizing: border-box;
    border-radius: 3px;
    font-family: $hn;
    font-size: 16px;
    font-style: italic;
    color: #666;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,.25);
    border: none;
    background-color: #fff;
    padding: 8px 20px 12px 7px;
    position: relative;
    display: inline-block;
  }

  .search-button {
    @include dimensions(35px, 35px);
    transform: scaleX(-1);
    -webkit-filter: invert(.7);
    filter: invert(.7);
    border: 0;
    float: right;
    position: relative;
    bottom: 41px;
    right: 10px;
  }

  //==============================================================================//
  //                         Sub Menu Drop Down                                   //
  //==============================================================================//
//   .dropdown {
//     z-index: 7;
//     background: #fff;
//     border-top: 4px solid #a7a9ac;
//     border-bottom: 4px solid #a7a9ac;
//     list-style: none;
//     overflow: hidden;
//     position: relative;
//   }
//
//   .col-columned {
//     width: 100vw;
//   }
//
//   .col-maincontainer {
//     @include dimensions(100vw, 332px);/*width and height of main container*/
//     margin: 0 auto; /*center container on page*/
//   }
// }
  .col1, .col2, .col3, .col4, .col5, .col6 {
    margin: 10px;
    padding: 0 10px;
    float: left;
  }

  /* 1 Column */
  .container-1 {
    width: 170px;
  }

  .container-1 .col1 {
    width: 100%;
  }

  /* 2 Columns */
  .container-2 {
    width: 270px;
  }

  .container-2 .col1 {
    width: 50%;
  }

  .container-2 .col2 {
    width: 100%;
  }

  /* 3 Columns */

  .container-3 {
    width: 400px
  }

  .container-3 .col1 {
    width: 33.33%;
  }

  .container-3 .col2 {
    width: 66.66%;
  }

  .container-3 .col3 {
    width: 100%;
  }

  /* 4 Columns */

  .container-4 {
    width: 500px;
  }

  .container-4 .col1 {
    width: 25%;
  }

  .container-4 .col2 {
    width: 50%;
  }

  .container-4 .col3 {
    width: 75%;
  }

  .container-4 .col4 {
    width: 100%;
  }

    /* 5 Columns */

  .container-5 {
    width: 600px;
  }

  .container-5 .col1 {
    width: 20%;
  }

  .container-5 .col2 {
    width: 40%;
  }

  .container-5 .col3 {
    width: 60%;
  }

  .container-5 .col4 {
    width: 80%;
  }

  .container-5 .col5 {
    width: 100%;
  }
}
