.all {
  -webkit-font-smoothing: antialiased;
  display: relative;

  a {
    color: #a7a9ac;
    text-decoration: none;
    transition: color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out;
  }

  a:hover {
    color: $blue;
  }
//********************************** BLACK HEADER **********************************//
  .black-nav {
    @include dimensions(100%, 42px);
    background-color: black;
    color: #a7a9ac;
    padding: 0 10px;
    font-family: $hn;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: center;
  }

  .black-nav-contents {
    padding: 40px;
  }

  .left-group {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  //DROP PIN SIZE
  .material-icons.md-18 {
    font-size: 18px;
  }


  .right-group {
    padding: 15px;
    display: flex;
    align-items: center;
  }
//********************************** WHITE HEADER **********************************//
  .white-nav {
    width: 100%;
    height: 57px;
    background-color: white;
    padding: 16px 10px;
    @include flex(space-between, center);
  }
  //ICON SIZES
  .material-icons.md-48 {
    font-size: 39px;
  }

  .icon {
    color: $blue;
  }

  .mobile-logo {
    // @include image('an svg???');
    width: 60px;
    height: 45.5px;
    background-color: red;
  }
  //********************************** MODAL **********************************//
  // MODAL

  .modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, .85);
    left: 0;
    top: 0;
    @include dimensions(100%, 100%);
    // transform: translate(-50%, -50%);
    @include flex(center, center);
    overflow: auto;
  }

  // CLOSE X
  .close {
    color: #fff;
    position: absolute;
    top: 158px;
    right: 20px;
    font-size: 53px;
    font-weight: 700;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

  .x-box {
    z-index: 2;
    @include dimensions(50px, 50px);
    position: absolute;
    top: 158px;
    right: 26px;
    background: blue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    z-index: 3;
    width: 2px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    // top: 158px;
    // right: 20px;
    cursor: pointer;
    transform: rotate(45deg);
  }

  .right {
    z-index: 4;
    width: 2px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    // top: 158px;
    // right: 20px;
    cursor: pointer;
    transform: rotate(-45deg);
  }


  //CONTENT
  .modal-content {
    display: block;
      position: relative;
      max-width: 92vw;
      margin: 4vh 4vw;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
  }

  //HEADER
  .modal-header {
      padding: 30px;
      background-color: #fff;
      color: #333;
      font-family: $hn;
      font-weight:bold;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
  }

  //BODY
  .modal-body {
    color: #333;
    font-family: $hn;
    font-size: 15px;
    text-align: center;
    line-height: 23px;
    border-bottom: 2px solid #f8f8f8;
    border-top: 2px solid #f8f8f8;
    background: #fff;
    padding: 30px;
  }

  //FOOTER
  .modal-footer {
      padding: 30px;
      background-color: #fff;
      color: #333;
  }

  //ANIMATION
  @-webkit-keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }
      to {
        top: 0;
        opacity: 1
      }
  }

  @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }
      to {
        top: 0;
        opacity: 1
      }
  }


}
