// .header {
//   -webkit-font-smoothing: antialiased;
//   position: relative;
//
//   .black-nav {
//     @include dimensions(100%, 40px);
//     @include flex(space-around, flex-start);
//     background-color: #000;
//   }
//
//   .black-nav-container {
//     width: 1200px;
//     height: 40px;
//     display: flex;
//     justify-content: space-between;
//     position: relative;
//     padding: 0 2px;
//   }
//
//   .logo-container {
//     z-index: 10;
//     position: relative;
//   }
//
//   .logo {
//     @include dimensions(186px, 144px);
//     @include image('http://www.ospreypacks.com/images/logos/osprey-white-oval-logo-withglow-DOUBLE-RES.png');
//   }
//
//   .flag-container {
//     z-index: 11;
//     @include dimensions(30px, 15px);
//     @include image('http://icons.iconarchive.com/icons/icons-land/vista-flags/256/United-States-Flag-1-icon.png');
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-right: 3px;
//     // margin-left: auto;
//   }
//
//   .caret-container {
//     @include dimensions(18px, 22px);
//     @include image('https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png');
//     -webkit-filter: invert(1);
//     filter: invert(1);
//     margin-top: 8px;
//     margin-right: 7px;
//   }
//
//   .menu {
//     z-index: 11;
//     font-family: $hn;
//     font-size: 14px;
//     font-weight: 400;
//     color: #fff;
//     margin-top: auto;
//     margin-bottom: auto;
//     display: flex;
//     margin-right: 16px;
//   }
//
// .menu ul li {
//     float: left;
//     padding: 10px;
//   }
//
//   ul li {
//     float: left;
//     @include flex(center, center);
//     padding-left: 10px;
//     padding-right: 10px;
//   }
//
//   .menu li a {
//     display: block;
//     color: #fff;
//     text-decoration: none;
//   }
//
//   li a:hover {
//     -webkit-transition: color .2s ease-in-out;
//     transition: color .2s ease-in-out;
//     color: #0095cf;
//   }
// // //==============================================================================//
// // //                          White Nav Bar                                       //
// // //==============================================================================//
// //
// //   .white-nav {
// //     z-index: 8;
// //     @include dimensions(100%, 100px)
// //     @include flex(center, center);
// //     background-color: rgba(255,255,255,.85);
// //     position: absolute;
// //   }
// //
// //   .white-nav-text {
// //     // @include flex(center, center);
// //     text-align: center;
// //     margin-left: 213px;
// //   }
// //   .white-nav-text a {
// //     color: #000;
// //     font-family: $hnb;
// //     font-weight: 600;
// //     font-size: 15px;
// //     text-align: center;
// //     text-transform: uppercase;
// //     }
// //
//   .search {
//     @include dimensions(250px, 45px);
//     // margin-left: 33px;
//     position: relative;
//   }
//
//   input[type=text] {
//     @include dimensions(250px, 45px);
//     box-sizing: border-box;
//     border-radius: 3px;
//     font-family: $hn;
//     font-size: 16px;
//     font-style: italic;
//     color: #666;
//     box-shadow: inset 0 0 3px 0 rgba(0,0,0,.25);
//     border: none;
//     background-color: #fff;
//     padding: 8px 20px 12px 7px;
//     position: relative;
//     display: inline-block;
//   }
//
//   .search-button {
//     @include dimensions(35px, 35px);
//     transform: scaleX(-1);
//     -webkit-filter: invert(.7);
//     filter: invert(.7);
//     border: 0;
//     float: right;
//     position: relative;
//     // bottom: 41px;
//     // right: 10px;
//    }
//   //
//   // @media (max-width: 1150px) and (min-width: 992px) {
//   //   .white-nav-text a {
//   //     font-family: $os;
//   //     font-size: 14px;
//   //     font-weight: 400;
//   //   }
//   // }
// //
// //
//
//
// //==============================================================================//
// //               Above is Original Working Code (no mega drop)                  //
// //==============================================================================//
// * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}
//
//
// body { font-family: "PT Sans", sans-serif; background: #f5f5f5; font-size: 100%;}
// a { color: #666; text-decoration: none;}
// h3 { color: #000;}
// .nav {
//   z-index: 8;
//   @include dimensions(100%, 100px)
//   @include flex(center, center);
//   background-color: rgba(255,255,255,.85);
//   position: absolute;
// }
//
// .nav li {
//   list-style: none;
// }
//
// .nav > li {
//   padding: 0;
//   float: left;
//   position: relative;
//   height: 100px;
// }
//
// .nav > li > a {
//   color: #000;
//   font-family: $hnb;
//   font-weight: 600;
//   font-size: 15px;
//   text-align: center;
//   text-transform: uppercase;
//   padding: 10px 10px;
// }
//
// .nav > li:hover > a {
//   -webkit-transition: color .2s ease-in-out;
//   transition: color .2s ease-in-out;
//   color: #0095cf;
// }
// // .nav > li:first-child > a { border-left: 0; }
// // .nav > li:last-child > a { border-right: 0; }
// .nav > li:hover > div {display: block;}
//
// /* MEGA DROP DOWN */
//
//
// .nav > li > div {
// 	position: absolute;
//   font-family: $hnb;
//   color: #666;
//   // padding: 10px 10px 10px 10px;
// 	// margin: auto;
//   height: 332px;
// 	top: 100px;
// 	display: none;
// 	background-color: rgba(255,255,255,.95);
// 	// overflow: hidden;
// }
// .nav > li > div p { color: purple; }
// .nav > li > div.right { right: 0; left: auto }
//
// // h3 {
// //
// // }
// .container-1, .container-2, .container-3, .container-4 { font-size: 80%; }
//
//
// /* COLUMNS */
// .col1,.col2,.col3,.col4,.col5 { margin: 10px 0; float: left; padding: 0 10px;}
//
//
// 	/* 2 Column */
// 	.container-2 { width: 270px; }
// 	.container-2 .col1 { width: 50% }
// 	.container-2 .col2 { width: 100% }
//
//
// 	/* 4 Column */
// 	.container-4 { width: 100vw; }
// 	.container-4 .col1 { width: 25%; }
// 	.container-4 .col2 { width: 50% }
// 	.container-4 .col3 { width: 75% }
// 	.container-4 .col4 { width: 100% }
//
//   // .search {
//   //   @include dimensions(250px, 45px);
//   //   margin-left: 33px;
//   //   position: relative;
//   // }
//   //
//   // input[type=text] {
//   //   @include dimensions(250px, 45px);
//   //   box-sizing: border-box;
//   //   border-radius: 3px;
//   //   font-family: $hn;
//   //   font-size: 16px;
//   //   font-style: italic;
//   //   color: #666;
//   //   box-shadow: inset 0 0 3px 0 rgba(0,0,0,.25);
//   //   border: none;
//   //   background-color: #fff;
//   //   padding: 8px 20px 12px 7px;
//   //   position: relative;
//   //   display: inline-block;
//   // }
//   //
//   // .search-button {
//   //   @include dimensions(35px, 35px);
//   //   transform: scaleX(-1);
//   //   -webkit-filter: invert(.7);
//   //   filter: invert(.7);
//   //   border: 0;
//   //   float: right;
//   //   position: relative;
//   //   bottom: 41px;
//   //   right: 10px;
//   //  }
//   //
//   @media (max-width: 1150px) and (min-width: 992px) {
//     .nav > li > a {
//       font-family: $os;
//       font-size: 14px;
//       font-weight: 400;
//     }
//   }
//
// .whatever {
//   @include dimensions(972px, 100px);
//   @include flex(center, center);
//   background: orange;
// }
//
//
//
// }
//==============================================================================//
//               Above code is close to center links.                           //
//==============================================================================//

.header {
  -webkit-font-smoothing: antialiased;
  position: relative;

  .black-nav {
    @include dimensions(100%, 40px);
    @include flex(space-around, flex-start);
    background-color: #000;
  }

  .black-nav-container {
    width: 1200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0 2px;
  }

  .logo-container {
    z-index: 10;
    position: relative;
  }

  .logo {
    @include dimensions(186px, 144px);
    @include image('http://www.ospreypacks.com/images/logos/osprey-white-oval-logo-withglow-DOUBLE-RES.png');
  }

  .flag-container {
    z-index: 11;
    @include dimensions(30px, 15px);
    @include image('http://icons.iconarchive.com/icons/icons-land/vista-flags/256/United-States-Flag-1-icon.png');
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3px;
    // margin-left: auto;
  }

  .caret-container {
    @include dimensions(18px, 22px);
    @include image('https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-128.png');
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-top: 8px;
    margin-right: 7px;
  }

  .menu {
    z-index: 11;
    font-family: $hn;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    margin-right: 16px;
  }

  .menu ul li {
    float: left;
    padding: 10px;
  }

  ul li {
    float: left;
    @include flex(center, center);
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
  }

  li a:hover {
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #0095cf;
  }
// //==============================================================================//
// //                          White Nav Bar                                       //
// //==============================================================================//
//
  // .white-nav {
  //   z-index: 8;
  //   @include dimensions(100%, 100px)
  //   @include flex(center, center);
  //   background-color: rgba(255,255,255,.85);
  //   position: absolute;
  // }
  //
  // .white-nav-text {
  //   // @include flex(center, center);
  //   text-align: center;
  //   margin-left: 213px;
  // }
  // .white-nav-text a {
  //   color: #000;
  //   font-family: $hnb;
  //   font-weight: 600;
  //   font-size: 15px;
  //   text-align: center;
  //   text-transform: uppercase;
  //   }

  // .search {
  //   z-index: 22;
  //   // background: purple;
  //   height: 45px;
  //   @include flex(center, center);
  //   position: absolute;
  // }
  //
  // input[type=text] {
  //   @include dimensions(250px, 45px);
  //   box-sizing: border-box;
  //   border-radius: 3px;
  //   font-family: $hn;
  //   font-size: 16px;
  //   font-style: italic;
  //   color: #666;
  //   box-shadow: inset 0 0 3px 0 rgba(0,0,0,.25);
  //   border: none;
  //   // background-color: pink;
  //   padding: 8px 20px 12px 7px;
  //   margin-left: 30px;
  //   position: relative;
  //   display: inline-block;
  // }
  //
  // .search-button {
  //   @include dimensions(35px, 35px);
  //   transform: scaleX(-1);
  //   -webkit-filter: invert(.7);
  //   filter: invert(.7);
  //   border: 0;
  //   float: right;
  //   position: relative;
  //   right: 50px;
  //  }
  //
  // @media (max-width: 1150px) and (min-width: 992px) {
  //   .white-nav-text a {
  //     font-family: $os;
  //     font-size: 14px;
  //     font-weight: 400;
  //   }
  // }
//
//


//==============================================================================//
//               Above is Original Working Code (no mega drop)                  //
//==============================================================================//
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}


  body { font-family: "PT Sans", sans-serif; background: #f5f5f5; font-size: 100%;}
  a {
    color: #666;
    text-decoration: none;
  }
  h3 {
    color: #000;
  }

  .white-header {
    // // z-index: 8;
    // @include dimensions(100%, 100px)
    // // @include flex(center, center);
    // // position: absolute;
    // // // float: left;
    // // // margin: 0 auto;
    // z-index: 8;
    // // display: flex;
    // // justify-content: center;
    // // align-items: center;
    // // margin-left: 320px;
    // // height: 100px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background-color: pink;
    // // background-color: rgba(255,255,255,.85);
    // position: absolute;

    z-index: 8;
    position: absolute;
    @include dimensions(100%, 100px);
    @include flex(center, center);
    background-color: rgba(255,255,255,.85);
    text-align: center; // need?
    color: #000; //need?
    // display: block; //need? maybe use flex center center?

  }

  .white-inner-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    background-color: #673ab7;
    width: 1200px;
    display: block; //need?
    overflow: hidden;
  }
  //*** acts as nav background ***//

//*** acts as menu container ***//
  .white-container {
    @include flex(center, center);
    // display: block;
    // margin: 0 auto;
    position: static;
    padding: 0 240px 0 173px;
    width: 1170px;
    background: brown;
    height: 100px;
    float: left;
    // overflow: hidden;
  }

//*** links live here ***//
  .white-menu {
    @include dimensions(701px, 98px);
    // padding-left: 8px;
    background-color: tomato;
    overflow: hidden;

  }

  .white-menu li {
    list-style: none;
  }

  .white-menu > li {
    padding: 0;
    float: left;
    position: relative;
    height: 100px;
  }

  .white-menu > li > a {
    color: #000;
    font-family: $hnb;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
  }

  .white-menu > li:hover > a {
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #0095cf;
  }

  .white-menu > li:hover > div {display: block;}

  /* MEGA DROP DOWN */


  .white-menu > li > div {
  	position: absolute;
    font-family: $hnb;
    color: #666;
    height: 332px;
  	top: 100px;
  	display: none;
  	background-color: rgba(255,255,255,.95);
  }
  .white-menu > li > div p { color: purple; }
  .white-menu > li > div.right { right: 0; left: auto }

  // .search-box {
  //   z-index: 10;
  //   width: 300px;
  //   height: 55px;
  //   background: darkorange;
  //   position: absolute;
  // }

  .search-box {
    z-index: 10;
    width: 300px;
    height: 55px;
    background: coral;
    position: absolute;
  }

  .search {
    z-index: 22;
    background: #fff;
    border-radius: 3px;
    // @include flex(flex-end, center);
    position: absolute;
    overflow: hidden;
    background-color: gold;
  }

  input[type=text] {
    @include dimensions(200px, 45px);
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
    font-family: $hn;
    font-size: 16px;
    font-style: italic;
    color: #666;
    // box-shadow: inset 0 0 3px 0 rgba(0,0,0,.25);
    border: none;
    // background-color: pink;
    padding: 8px 20px 12px 7px;
    // margin-right: -56px;
    // margin-left: 47px;
    position: relative;
    // display: inline-block;
    // display: flex;
    // justify-content: flex-end;
  }

  .search-button {
    @include dimensions(35px, 35px);
    box-sizing: border-box;
    transform: scaleX(-1);
    -webkit-filter: invert(.7);
    filter: invert(.7);
    border: 0;
    float: right;
    position: relative;
    margin-right: 10px;
    background-color: pink;
   }

  .container-1, .container-2, .container-3, .container-4 { font-size: 80%; }


  /* COLUMNS */
  .col1,.col2,.col3,.col4,.col5 { margin: 10px 0; float: left; padding: 0 10px;}


  	/* 2 Column */
  	.container-2 { width: 270px; }
  	.container-2 .col1 { width: 50% }
  	.container-2 .col2 { width: 100% }


  	/* 4 Column */
  	.container-4 { width: 100vw; }
  	.container-4 .col1 { width: 25%; }
  	.container-4 .col2 { width: 50% }
  	.container-4 .col3 { width: 75% }
  	.container-4 .col4 { width: 100% }

    @media (max-width: 1150px) and (min-width: 992px) {
      .white-menu {
        @include dimensions(590px, 98px);
        // display: flex;
        // justify-content: center;
        // background: blue;
        // margin-left: auto;
        // margin-right: auto;
      }

      .white-menu > li > a {
        font-family: $os;
        font-size: 15px;
        font-weight: 400;
      }

    }

    @media (max-width: 1200px) and (min-width: 992px) {
      .white-container {
        display: block;
        position: relative;
      }
    }

 }
