.all {
  -webkit-font-smoothing: antialiased;
  display: relative;

  a {
    color: #a7a9ac;
    text-decoration: none;
    transition: color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out;
  }

  a:hover {
    color: $blue;
  }

//********************************** BLACK HEADER **********************************//
  .black-nav {
    @include dimensions(100%, 42px);
    background-color: black;
    color: #a7a9ac;
    padding: 0 10px;
    font-family: $hn;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    align-items: center;
  }

  .black-nav-contents {
    padding: 40px;
  }

  .left-group {
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  //DROP PIN SIZE
  .material-icons.md-18 {
    font-size: 18px;
  }


  .right-group {
    padding: 15px;
    display: flex;
    align-items: center;
  }
//********************************** WHITE HEADER **********************************//
  .white-nav {
    width: 100%;
    height: 57px;
    background-color: white;
    padding: 16px 10px;
    @include flex(space-between, center);
  }
  //ICON SIZES
  .material-icons.md-48 {
    font-size: 39px;
  }

  .icon {
    color: $blue;
    cursor: pointer;
  }

  .mobile-logo {
    width: 60px;
    height: 47px;
    @include image('https://www.backcountryedge.com/media/wysiwyg/layered_nav_images/osprey-logo.jpg');
  }
  //********************************** MODAL **********************************//
  // MODAL

  .modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, .85);
    top: 0px;
    @include dimensions(100%, 100vh);
    @include flex(center, center);
    flex-direction: column;
  }
////////MAKING X///////////
  .left {
    z-index: 3;
    width: 2px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    transform: rotate(45deg);
  }

  .right {
    z-index: 4;
    width: 2px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    transform: rotate(-45deg);
  }


  //CONTENT
  .modal-content {
    display: inline-block;
    z-index: 4;
    position: relative;
    max-width: 92vw;
    margin: 4vh 4vw;
    margin-top: 60px;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .close-container {
    height: 50px;
    position: relative;
    @include flex(flex-end, center);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  .x-box {
    // z-index: 2;
    @include dimensions(50px, 50px);
    position: absolute;
    bottom: 10px;
    @include flex(center, center);
    cursor: pointer;
  }
  //HEADER
  .modal-header {
      padding: 30px;
      background-color: #fff;
      color: #000;
      font-family: $hn;
      font-weight:bold;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
  }

  //BODY
  .modal-body {
    color: #333;
    font-family: $hn;
    font-size: 15px;
    text-align: center;
    line-height: 23px;
    border-bottom: 2px solid #f8f8f8;
    border-top: 2px solid #f8f8f8;
    background: #fff;
    padding: 30px;
  }

  //FOOTER
  .modal-footer {
    padding: 30px;
    background-color: #fff;
    @include flex(center, center);
  }

  .button {
    @include dimensions(120px, 45px);
    @include flex(center, center);
    font-family: $os;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: .1em;
    border-radius: 5px;
    border-width: 2px;
    white-space: normal;
    margin: 2px;
    cursor: none;
    outline: 0;
  }

  .cancel {
    background-color: #5cb85c;
    color: #fff;
    border-color: #4cae4c;
    border-style: solid;
  }

  .cancel:hover {
    background-color: #80c780;
    color: #fff;
    border-color: #6ec06e;
    border-style: solid;

  }

  .login {
    background-color: #fff;
    color: $blue;
    border-color: $blue;
    border-style: solid;

  }

  .login:hover {
    color: #03b8ff;
    border-color: #03b8ff;
    border-style: solid;

  }

  .ham-to-x {
    @include dimensions(50px, 50px);
    background-color: red;
  }

  //ANIMATION
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
    to {
      top: 0;
      opacity: 1
    }
  }

  //*************************** MOBILE SLIDE OUT MENU **********************************//
  .sidenav {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $blue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    text-decoration: none;
    font-family: $hnb;
    font-weight: 600;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase;
    display: block;
    transition: 0.3s
  }

  .sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .mobile-search-container {
    width: 100%;
    color: $blue;
    font-size: 19px;
    padding: 15px;
  }

  input:focus {
    outline: none;
  }

  #mobile-search-input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    padding-right: 40px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #000;
    font-size: 15px;
    font-family: $hn;
  }
  #mobile-search-input::-webkit-input-placeholder {
  color: $blue !important;
  font-size: 15px;
  font-style: italic;
}

#mobile-search-input:-moz-placeholder { /* Firefox 18- */
  color: $blue !important;
  font-size: 15px;
  font-style: italic;
}

#mobile-search-input::-moz-placeholder {  /* Firefox 19+ */
  color: $blue !important;
  font-size: 15px;
  font-style: italic;
}

#mobile-search-input:-ms-input-placeholder {
  color: $blue !important;
  font-size: 15px;
  font-style: italic;
}

  .mobile-menu {
    @include flex(space-between, center);
    padding: 0 10px;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }

  .icon-style {
    color: #fff;
    font-size: 40px;
    padding: 10px 15px;
  }
  #main {
      transition: margin-left .5s;
      padding: 16px;
  }

  #switch-x {

  }

  //********************************** MEDIA QUERIES **********************************//
  @media screen and (min-width: 768px) {
    .modal-content {
      max-width: 600px;
    }

    .close-container {
      position: relative;
      @include flex(flex-end, center);
    }
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }

}
