.footer {
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: $hnb;
  border-top: 5px solid #a7a9ac;

  .mobile-full-width {
    width: 98%;
    margin: 1em auto;
  }

  button.accordion {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #a7a9ac;
    text-transform: uppercase;
  }

  button.accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
  }

  button.accordion.active:after {
      content: "\2212";
  }

  div.panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }

  .icon {
    text-decoration: none;
    color: #a7a9ac;
    display: flex;
    justify-content: space-between;
  }

  .equidistant-spacing {
    display: flex;
    justify-content: space-between;
  }

  .full-width {
    width: 100%;
    margin: 0 auto;
  }

  .footer-img {
    position: relative;
    bottom:0;
    left:0;
  }

  .copyright-text {
    position: absolute;
    color: pink;
    z-index: 1;
  }

}
