* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, .h1 {
  font-size: 28px;
  font-family: $os;
  line-height: 1em;
}

h4 {
  font-family: $hn;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 500;
}

h6 {
  font-family: $hn;
  font-size: 11px;
  margin: 5px 5px;
}

//Google icons//
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.white-color {
  color: white;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-position {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.brick {
  padding: 15px 0;
}

.brick-banner {
  padding-bottom: 4px;
}

.full-width-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}

.brick, .brick.full-width-container {
  background-color: #fff;
}

.container-banner {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: .5em;
}

.cover-font {
  font-family: $os;
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: .001em;
  margin-top: .3em;
  margin-bottom: .3em;
}

.button-text {
  font-family: $os;
  text-transform: uppercase;
  color: white;
  display: block;
  width: 100%;
  margin: .5em auto;
  border-radius: .3em;
  padding: .3em;
}

.button-text-size {
  font-size: 20px;
  letter-spacing: 2.5px;
}

.small-button {
  width: auto;
}

.transparent-background {
  background-color: transparent;
}

.white-border-button {
  border: .15em solid white;
}

.black-border-button {
  border: .15em solid black;
}

.on-top {
  position: absolute;
}

.blue-border-button {
  border: 1px solid #0095cf;
  font-family: $os;
  color: #0095cf;
  border-radius: .3em;
  background-color: transparent;
  text-transform: uppercase;
  width: 100%;
}

.video-banner-color {
  background-color: #e4002b;
}

.red-button {
  background-color: red;
  border: none;
}

.fourth-section__left-img {
  background-image: url(https://www.ospreypacks.com/images/article/Women_Full_Width_Large.jpg);
}

.fourth-section__right-img {
  background-color: #E59400;
}

.bottom-center {
  top: 50%;
  padding: .5em;
}

.center-align-text {
  text-align: center;
}

.black-button {
  background-color: black;
  border: none;
}

.opaque-btn {
  background-color: rgba(0, 0, 0, 0.5);
}

.sixth-section__left-img {
  background-color: #666666;
}

.sixth-section__right-img {
  background-image: url(https://www.ospreypacks.com/images/article/Sven-960.jpg);
}

.carousel-2 {
  height: 500px;
  width: 1090px;
  display: flex;
  align-items: flex-start;
}

.trending-title-text {
  font-family: $hn;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eighth-section__left-img {
  background-color: #be4805;
}

.eighth-section__right-img {
  background-image: url(https://www.ospreypacks.com/images/article/Dear-crop.jpg);
}

.instagram-carousel {
  margin-bottom: 15em;
  background-color: #EAEAEA;
}

.instagram-text {
  top: 0;
  left: 0;
}

//==============================================================================//
//                          Carousel                                            //
//==============================================================================//

// ****** top carousel ****** //
.wrapper {
  // margin: auto;
  text-align: center;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  // margin-bottom: 20px !important;
  width: 100%;
  // padding-top: 5px;
  border: 2px red solid;
}

.scrolls {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border: 3px yellow solid;
}

.pack-container {
  margin: 0 12px;
  cursor: pointer;
  display:inline-block;
  // *display:inline;
  // *zoom:1;
  border: 4px green solid;
}

.pack-container-img {
  background-color: #EAEAEA;
  border: 2px blue solid;
}

.pack-container-content {}

//Carousel #2//
.pack-img {
  width: 50%;
}

.color-swatch {
  margin-top: 15px;
  width: 30px;
  height: 20px;
  margin-right: 10px;
  float: left;
  cursor: pointer;
  position: relative;
}

.volcanic-grey {
  background-color: #3a3a3a;
}

.caribbean-blue {
  background-color: #4b86a8;
}

.jasper-red {
  background-color: #902e2d;
}

.cinnabar-red {
  background-color: #e6603a;
}

.graphite-grey {
  background-color: #0B0F0B;
}

.absinthe-green {
  background-color: #6d9b41;
}

.hoodoo-red {
  background-color: #a93633;
}

.black {
  background-color: #000000;
}

.nitro-green {
  background-color: #5e8340;
}

.cold-blue {
    background-color: #0C4D8A;
}

.ripcord-red {
    background-color: #B91623;
}

.galactic-black {
  background-color: #272d2d;
}

.frost-white {
  background-color: #cac9c7;
}

.real-red {
  background-color: #992029;
}

.eggplant-purple {
  background-color: #852a65;
}

.tahoe-blue {
  background-color: #292567;
}

.misty-teal {
  background-color: #228783;
}

.ever-green {
  background-color: #14361b;
}

.magma-orange {
  background-color: #dd8546;
}

@media only screen and (min-width: 840px) {
  .fourth-section__left-img, .fourth-section__right-img,
  .sixth-section__left-img,
  .sixth-section__right-img,
  .eighth-section__left-img, .eighth-section__right-img
   {
    width: 50%;
  }
}

@media only screen and (min-width: 1096px) {
  .page {
    width: 1090px;
    margin: 0 auto;
  }
}
