* {
  box-sizing: border-box;
}

.cover-font {
  font-family: $hnb;
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: .001em;
  margin-left: .3em;
  margin-top: .3em;
}

.button-text {
  font-family: $os;
  text-transform: uppercase;
  color: white;
  font-size: 1em;
  display: block;
  width: 90%;
  margin: .5em auto;
  border-radius: .3em;
  padding: .5em;
}

.small-button {
  width: auto;
}

.transparent-background {
  background-color: transparent;
}

.white-border-button {
  border: .2em solid white;
}

.top-section {
  background-image: url(http://www.ospreypacks.com/images/heros/Mutant-small.jpg);
  margin-top: 0px;
}

.img-position {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.content-text {
  background: black;
  bottom: 0;
  border-top: white 1px solid;
  position: absolute;
  width: 100%;
}

h4 {
  font-family: $hn;
  font-size: 15px;
  text-transform: uppercase;
  margin: 5px 5px;
}

h6 {
  font-family: $hn;
  font-size: 11px;
  margin: 5px 5px;
}

.blue-border-button {
  border: 1px solid #0095cf;
  color: #0095cf;
  border-radius: .3em;
  background-color: transparent;
  text-transform: uppercase;
}

.third-section {
  background-image: url(http://www.ospreypacks.com/images/heros/Farpoint_JulyHomepage_small.jpg);
}

.red-button {
  background-color: red;
  border: none;
}

.image-section {
  background-image: url(http://www.ospreypacks.com/images/article/atmos-aura-content-full-width.jpg);
  background-repeat: repeat-x;
  background-position: left top;
  height: 500px;
}

.backpacker-bkgrnd {
  background-image: url(http://www.ospreypacks.com/images/article/yellow-osprey-full-width-callout-bg-content-960x480.jpg);
  background-repeat: repeat-x;
  background-position: left top;
  height: 500px;
}

.bottom-center {
  position: relative;
  top: 50%;
}

.center-align-text {
  text-align: center;
}

.black-button {
  background-color: black;
  border: none;
}

.fifth-section {
  background-image: url(http://www.ospreypacks.com/images/heros/Packfinder_2-mobile.jpg);
}

.image-section-1 {
  background-color: #be4805;
}

.opaque-btn {
  background-color: rgba(0, 0, 0, 0.5);
}

.image-section-2 {
  background-image: url(http://www.ospreypacks.com/images/article/Dear-crop.jpg);
}

.seventh-section {
  background-image: url(http://www.ospreypacks.com/images/heros/Variant-small-new.jpg);
}

.trending-title-text {
  font-family: $hn;
  text-align: center;
}

.ninth-section {
  background-image: url(http://www.ospreypacks.com/images/heros/Kamber_1920x1080.jpg);
}

.tenth-section {
  background-image: url(http://www.ospreypacks.com/images/heros/about-fixed-bg-1920x800.jpg);
}

.eleventh-section {
  background-image: url(http://www.ospreypacks.com/images/heros/KamberABS_1920x1080.jpg);
}

.instagram-carousel {
  margin-bottom: 15em;
  background-color: #EAEAEA;
}


//==============================================================================//
//                          Carousel                                            //
//==============================================================================//

.horizontal-scroll-wrapper {
  width: 100px;
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform:rotate(-90deg) translateY(-100px);
}

.horizontal-scroll-wrapper > div {
  width: 100px;
  height: 100px;
  transform: rotate(90deg);
  transform-origin: right top;
}

.pack-container {


  @media screen and (min-width: 840px) {

  }

  @media screen and (min-width: 1096px) {
  
  }
}