
@font-face {
  font-family: 'helvetica-neue';
  src: url('./fonts/HelveticaNeue.woff') format('woff');
}

@font-face {
  font-family: 'helvetica-neue-bold';
  src: url('./fonts/HelveticaNeue-Bold.woff') format('woff');
}
